<!DOCTYPE html>
<html lang="en">

<head>
    <!--
        Техническая документация HTML-страницы "О нас"
        -->

    <!-- Установка кодировки документа -->
    <meta charset="UTF-8">

    <!-- Настройка для адаптивного масштабирования на мобильных устройствах -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Подключение внешнего файла стилей -->
    <link rel="stylesheet" href="/src/css/style.css">

    <!-- Установка заголовка страницы -->
    <title>О нас</title>
</head>

<body>
    <!-- Заголовок и навигационное меню -->
    <header>
        <nav>
            <ul>
                <!-- Ссылка на раздел "Курсы" -->
                <li><a href="/">Курсы</a></li>

                <!-- Ссылка на раздел "О нас" -->
                <li><a href="/about">О нас</a></li>

                <!-- Ссылка на раздел "Контакты" -->
                <li><a href="/contact">Контакты</a></li>
                <li><a href="/profile">Профиль</a></li>
            </ul>
        </nav>
    </header>

    <!-- Контейнер для отображения информации о компании -->
    <div class="aboutour">
    </div>
    <h1>Добро пожаловать в наш магазин курсов!</h1>
    <p>Мы - команда преданных профессионалов, стремящихся сделать обучение увлекательным, доступным и результативным для
        каждого.</p>
    <p><strong>Наша Миссия</strong>: Мы верим в силу образования и гордимся тем, что создали уникальное пространство для
        обучения, где каждый может найти курс, отвечающий его интересам и потребностям. Наша миссия - вдохновлять,
        развивать и помогать нашим ученикам достигать своих целей.</p>
    <p><strong>Наша История</strong>: Мы начали этот проект с целью создать сообщество, где каждый может обрести новые
        знания и навыки. С тех пор мы выросли благодаря доверию наших учеников и стали платформой, где обучение
        становится захватывающим приключением.
    <p>Присоединяйтесь к нашему образовательному сообществу! Вместе мы будем исследовать мир знаний и открывать новые
        возможности. Спасибо, что выбрали нас в качестве своего образовательного партнера.</p>
    <footer>
        <p>© 2024 Seduk.prod. Все права защищены.</p>
    </footer>
</body>

</html>