{% extends 'base.html' %}

{% block title %}
<title> Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1> Про магазин </h1>
    <p> Обычно, когда я начинаю новый проект, я либо копирую HTML-структуру последнего сайта, который я создал, либо перехожу к HTML5 Boilerplate и копирую их шаблон. Недавно я не начал новый проект, но мне пришлось документировать структуру, которую мы используем на работе для сайтов, которые мы строим. Таким образом, простое копирование и вставка не были вариантом, я должен был понять, какой выбор был сделан. Поскольку я потратил довольно много времени на исследование и создание структуры, я решил поделиться ею с вами.</p>
</div>
{% endblock %}
