<!DOCTYPE html>
<html lang="en">

<head>
    <!--Техническая документация HTML-страницы "Онлайн курсы"-->

    <!-- Установка кодировки документа -->
    <meta charset="UTF-8">

    <!-- Настройка для адаптивного масштабирования на мобильных устройствах -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Подключение внешнего файла стилей -->
    <link rel="stylesheet" href="/src/css/style.css">

    <!-- Установка заголовка страницы -->
    <title>Онлайн курсы</title>
</head>

<body>
    <!-- Заголовок и навигационное меню -->
    <header>
        <nav>
            <ul>
                <!-- Ссылка на раздел "Курсы" -->
                <li><a href="/">Курсы</a></li>

                <!-- Ссылка на раздел "О нас" -->
                <li><a href="/about">О нас</a></li>

                <!-- Ссылка на раздел "Контакты" -->
                <li><a href="/contact">Контакты</a></li>
                <li><a href="/profile">Профиль</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <!-- Контейнер для отображения курсов -->
    <div class="container"></div>
    <div id="login-section">
        <a href="/login" class="button-login">Войти</a>
    </div>
    <!-- Подключение внешнего JavaScript-скрипта -->
    <script src="/src/js/index.js"></script>
    <footer>
        <p>© 2024 Seduk.prod. Все права защищены.</p>
    </footer>

</body>

</html>